*.o
*.out
output/itnos_err
output/README
output/version_name
output/data/*.dat
muse_evolver.out
output/postprocessor/data/src/datamakerc.c
output/postprocessor/data/src/datamakere.c
output/postprocessor/ps/src/psmakerc.c
output/postprocessor/ps/src/psmakere.c